/Pertemuan9/nbproject/private/
/Pertemuan9/build/
/Pertemuan11/target/
/Pertemuan11-2/nbproject/private/
/Pertemuan10/nbproject/private/
/Pertemuan10/build/
/Pertemuan11-2/build/
/Perpustakaan/nbproject/private/
/Perpustakaan/build/
